torchvision==0.12.0
test-tube==0.7.5
kornia==0.4.1
pandas==1.1.5
torch_optimizer
einops==0.4.1
kornia==0.6.5
pytorch-lightning==1.7.7
matplotlib==3.5.2
opencv-python==4.6.0.66
lpips
imageio
imageio-ffmpeg
jupyter
scipy
pymcubes
trimesh
dearpygui
plotly==4.14.3
pycollada==0.7.1
pyglet==1.5.10
networkx==2.5
plyfile==0.7.2
open3d==0.12.0
